/target
/.project
/.settings
/jtester.core/target
/jtester.core/bin
/jtester.core/jspec-output
/jtester.core/.classpath
/jtester.core/.project
/jtester.core/.settings
/jtester.fortest/target
/jtester.fortest/bin
/jtester.fortest/jspec-output
/jtester.fortest/.classpath
/jtester.fortest/.project
/jtester.fortest/.settings
/jtester.integrated/target
/jtester.integrated/bin
/jtester.integrated/jspec-output
/jtester.integrated/.classpath
/jtester.integrated/.project
/jtester.integrated/.settings
/jtester.junit/target
/jtester.junit/bin
/jtester.junit/jspec-output
/jtester.junit/.classpath
/jtester.junit/.project
/jtester.junit/.settings
/jtester.nodep/target
/jtester.nodep/bin
/jtester.nodep/jspec-output
/jtester.nodep/.classpath
/jtester.nodep/.project
/jtester.nodep/.settings
/jtester.spec/target
/jtester.spec/bin
/jtester.spec/jspec-output
/jtester.spec/.classpath
/jtester.spec/.project
/jtester.spec/.settings
/jtester.testng/target
/jtester.testng/bin
/jtester.testng/jspec-output
/jtester.testng/.classpath
/jtester.testng/.project
/jtester.testng/.settings
